<form method="post" action="{{ path('app_adherent_delete', {'id': adherent.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ adherent.id) }}">
    <button class="inline-block mb-4 text-admin-bg bg-admin-secondary hover:bg-admin-bg hover:text-admin-secondary border border-admin-secondary px-4 py-2 rounded-lg mt-2 ease-in-out duration-200">Delete</button>
</form>
