<div class=" relative w-[250px] h-[300px] rounded-md">
    <img src="{{asset('uploads/images/' ~ actor.image )}}" alt="" class=" absolute left-0 top-0 w-full h-full rounded-md">
    <div class="absolute bottom-0 left-0 h-full w-full bg-gradient-to-t from-myColor-bg opacity-50"></div>
    <h2 class=" absolute left-2 bottom-3 text-myColor-text font-semibold text-xl">{{ actor.nom }} {{ actor.pronom }}</h2>
</div>