{% extends 'base.html.twig' %}

{% block title %}New Emprunt{% endblock %}

{% block body %}
    <div class="w-4/5 m-auto text-admin-text p-6 rounded-lg">
        <h1 class="text-4xl text-admin-text font-bold mb-8">Create new Emprunt</h1>

    {{ include('emprunt/_form.html.twig') }}

    <a href="{{ path('app_emprunt_index') }}" class="inline-block mb-4 text-admin-text bg-admin-bg hover:bg-admin-text hover:text-admin-bg border border-admin-text px-4 py-2 rounded-lg mt-2 ease-in-out duration-200">Back to list</a>
{% endblock %}
